<!DOCTYPE HTML>
<html lang="en">
<head>
        <title>Luigi's</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css" integrity="sha512-uMIpMpgk4n6esmgdfJtATLLezuZNRb96YEgJXVeo4diHFOF/gqlgu4Y5fg+56qVYZfZYdiqnAQZlnu4j9501ZQ==" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/collection/components/icon/icon.min.css" integrity="sha512-DR9Jj0uFIfe7v1QLrvPRusRxqdSnVSVRyRBt1H8gcRQgxMKEwsOMSNYs0hyIpo8AITFyCMDC2Q1fCg1XcgdYig==" crossorigin="anonymous" /> 
</head>
<body>
<header>
        <div class="container">
                <a class="logo" href="#"><img reference src="assets/images/heading_logo.png" alt="Logo">  <h5><b>ELP</b></h5></a>

                <div class="right-area">
                        <h6><a class="plr-20 color-white btn-fill-primary" href="#">Inicia Sesion</a></h6>
                </div>
                <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
                <div class="clearfix"></div>
        </div>
</header>
<section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white">

                                <h5><b>BEST IN TOWN</b></h5>
                                <h1 class="mt-30 mb-15">Everyone Loves Pizza</h1>
                                <h5><a href="#" class="btn-primaryc plr-25"><b>Personaliza tu pizza</b></a></h5>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>
<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" reference src="assets/images/images/heading_logo.png" alt="">
                        <h2>Best Sellers</h2>
                </div>

                <div class="row">
                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>OFFER</b></h6>
                                                <img reference src="assets/images/seller-2-200x200.png" alt="">
                                        </div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>$11.90</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b> Añadir a carrito</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img reference src="assets/images/seller-2-200x200.png" alt=""></div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>$11.90</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b> Añadir a carrito</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img reference src="assets/images/seller-2-200x200.png" alt=""></div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>$11.90</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b> Añadir a carrito</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6  class="ribbon-cont"><div class="ribbon secondary"></div><b>SPECIALITY</b></h6>
                                                <img reference src="assets/images/seller-2-200x200.png" alt="">
                                        </div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>$11.90</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b> Añadir a carrito</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->
                </div><!-- row -->
                <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>Personaliza tu pizza</b></a></h6>
        </div><!-- container -->
</section>
<section class="story-area left-text center-sm-text pos-relative">
    <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
    <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
    <div class="container">
            <div class="heading">
                    <img class="heading-img" reference src="assets/images/heading_logo.png" alt="">
                    <h2>Personaliza tu Pizza</h2>
            </div>

            <div class="row" style="display: grid; grid-template-rows: 20% 20% 20% 40%; row-gap: 5%;">
                <div>
                    <p >Masa </p>
                    <div style="display: grid; grid-template-columns: 30% 30% 30%; column-gap: 2%;">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="masa">
                                <label class="custom-control-label" for="defaultUnchecked"> <img src="assets/images/delgada.jpg"   > Delgada</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="masa">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/panpizza.jpg"   > Galleta</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="masa">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/gruesa.jpg"   >    </label>
                              </div>
                    </div>
                </div>
                <div>
                    <p >Tamaño </p>
                    
                    <div style="display: grid; grid-template-columns: 30% 30% 30%; column-gap: 2%;">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="tamano">
                                <label class="custom-control-label" for="defaultUnchecked"> <img src="assets/images/pequeña.jpg"   > Pequeña</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="tamano">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/mediana.jpg"   > Mediana</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="tamano">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/grande.jpg"   > Grande</label>
                              </div>
                    </div>
                </div>
                <div>
                    <p >Salsa </p>

                    <div style="display: grid; grid-template-columns: 30% 30% 30%; column-gap: 2%;">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="salsa">
                                <label class="custom-control-label" for="defaultUnchecked"> <img src="assets/images/casera.jpg"   > Casera</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="salsa">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/tomate.jpg"   > Tomate</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="salsa">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/alfredo.jpg"   > Alfredo</label>
                              </div>
                    </div>
                </div>
                <div>
                    <p >Ingredientes </p>
                    <div style="display: grid; grid-template-columns: 30% 30% 30%; column-gap: 2%;">
                            <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked"> <img src="assets/images/mozarella.png"   > Delgada</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/pina.jpg"   > Galleta</label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/jamon.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/salchicha.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/peperoni.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/aceitunas.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/champinones.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/amarilla.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/morada.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/chileverde.jpg"   >    </label>
                              </div>
                              <div class="custom-control custom-radio">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="ingredientes">
                                <label class="custom-control-label" for="defaultUnchecked">  <img src="assets/images/tomates.jpg"   >    </label>
                              </div>
                    </div>
                </div>
                   
            </div><!-- row -->
    </div><!-- container -->
</section>



<!-- SCIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous"></script>
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.js" integrity="sha512-vtbFVybaj5JGg0+f2nzplUxp+5NSqxyInLlVFmUyXEEawwwckoT24Lq2LgWJflhpdlL73s1F0t4AQpFZ9qf9rQ==" crossorigin="anonymous"></script>
<script reference src="assets/common/scripts.js"></script>

</body>
</html>