<div class="container" style="margin-top: 100px">
<ul class="nav nav-tabs" id="myTab" role="tablist">
 
    <li class="nav-item" role="presentation">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="navigation-admin/purchase-registry" role="tab" aria-controls="home" aria-selected="true">Registro Compras</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="navigation-admin/insumosregistry" role="tab" aria-controls="profile" aria-selected="false">Insumos</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="navigation-admin/proveedoresregistry" role="tab" aria-controls="contact" aria-selected="false">Proveedores</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="navigation-admin/categoriesregistry" role="tab" aria-controls="contact" aria-selected="false">Categorias</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="navigation-admin/invetarioregistry" role="tab" aria-controls="contact" aria-selected="false">Inventario</a>
  </li>
</ul>
</div>

<router-outlet></router-outlet>


