
<div class="row">
  <div class="col">  
    <button type="button" class="btn btn-danger row d-flex justify-content-end">Cerrar Sesion</button> 
  </div>
</div>

<div class="row">
<div class="container" style="margin-top: 100px">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
     
        <li class="nav-item" role="presentation">
        <a class="nav-link" id="empleadoscrudtab" data-toggle="tab" href="navigation-superadmin/empleadosregistries-sa" role="tab" aria-controls="home" aria-selected="true">Empleados</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="clientescrudtab" data-toggle="tab" href="navigation-superadmin/clientesregiestries-sa" role="tab" aria-controls="profile" aria-selected="false">Clientes</a>
      </li>

           
    </ul>
    </div>
  </div>
    <router-outlet></router-outlet> 